.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
  
.main {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.footer {
  width: 100%;
}

.tabbar_icon {
  font-size: 20px;
}